.correoFooter {
    text-decoration: none;
    color: white;
}

.correoFooter:hover {
    text-decoration: none;
    color: #dbd3d3;
    font-size: 19px;
}

.correoFooter2 {
    text-decoration: none;
    color: white;
}

.correoFooter:hover2 {
    text-decoration: none;
    color: #dbd3d3;
    font-size: 19px;
}

.cardini2 {
    background-color: #ffffff;
    opacity: .9;
    font-size: 1.4rem;
}


/* Base de footer */

.foo {
    background-color: chocolate;
    opacity: .8;
}

.foo2 {
    background-color: #1a237e;
    opacity: .8;
}


/* Card ingredientes */

.it {
    background-color: #f4ff81;
}


/* nav adm */

.nvbc {
    background-color: #1c2a48;
}


/* cards head */

.nvb1 {
    background-color: #01579b;
}

.nvb2 {
    background-color: #1b5e20;
}

.nvb3 {
    background-color: #ff3d00;
}

.nvb4 {
    background-color: #ffff00;
}


/* cards head */


/* Cards ingredientes y paises */

.cd {
    background-color: #f44336;
}

.cu {
    background-color: #76ff03;
}


/* imágen index */

.bg {
    /* coloco imagen*/
    background-image: url("../image/fo.jpg");
    /*background-image: url("https://www.gob.mx/cms/uploads/image/file/277131/YOUTUBE.jpg");*/
    /*background-image: url("https://2.bp.blogspot.com/-Ngxn3yXZJGY/WrA1Bec-CuI/AAAAAAAALsA/kndIswnBDzQLYv0eglUcM6AyTcegKmV9wCK4BGAYYCw/s1600/Captura%2Bde%2Bpantalla%2B2018-03-19%2Ba%2Blas%2B4.05.56%2Bp.m..png");*/
    /* img completa */
    height: 100%;
    /* centro */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    /*opacity: 0.9;*/
}

.bg1 {
    /* coloco imagen*/
    background-image: url("../image/ing.jpg");
    /* img completa */
    height: 100%;
    /* centro */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    /*opacity: 0.9;*/
}

.bg2 {
    /* coloco imagen */
    background-image: url("../image/pai.jpg");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.9;
}

.bg4 {
    background-image: url("../image/ag.jpeg");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.9;
}


/* Categoría */

.bg5 {
    background-image: url("../image/cat.jpg");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.9;
}

.bg8 {
    /* coloco imagen*/
    background-image: url("../image/as.jpg");
    /* img completa */
    height: 100%;
    /* centro */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    /*opacity: 0.9;*/
}


/* card inicial */

.cardini {
    background-color: #ffffff;
    opacity: .93;
    border-radius: 3rem;
    padding-left: 3rem;
    padding-right: 3rem;
    border-color: saddlebrown;
    border-width: 10px;
}


/* Jumbotrom */

.jb {
    background-color: chocolate;
}

.te {
    font-size: 1.2rem;
    background-color: #ffffff;
    opacity: .9;
}

#ir {
    font-size: 1.2rem;
}

.tocard {
    background-color: #0091ea;
}

.letracard {
    font-size: 1.3rem;
}

.inputform {
    max-width: 65%;
    width: auto;
    height: auto;
    font-size: 1.3rem;
}


/* Texto de encabezado paises*/

.cardini2 .tituloPa {
    font-size: 8rem;
}

.as {
    font-size: 1.2rem;
}

.tituloPa2 {
    font-size: 8rem;
    font-style: italic;
}

.bg10 {
    /* height: 100%; */
    /* centro */
    /* background-position: center;
    background-repeat: no-repeat;
    background-size: cover; */
    border-radius: 2rem;
    width: 17rem;
    /*opacity: 0.9;*/
}

.tecard {
    font-size: 1rem;
    text-align: justify;
}

.bg11 {
    height: 30%;
    /* centro */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 2rem;
    /*opacity: 0.9;*/
}

.fec {
    text-align: right;
}

.titulocard {
    font-size: 4rem;
    text-align: center;
    font-style: italic;
}

.foto {
    text-align: center;
}

.bbb {
    background-color: sienna;
    opacity: .9;
}

.textoCard {
    font-style: oblique;
    font-size: 1.5rem;
}

.colorFoo {
    background-color: sienna;
}

.colorFoo2 {
    background-color: #304ffe;
}

.aa {
    border-radius: .2rem;
}